{% extends "base.html" %} 
{% block title%} 
	Social Media Contact
{% endblock %} 


{% block content %}
<div class="container text-center">

    <div class="row mt-5">
        <div class="col"><h2>Contact</h2></div>
       
    </div>
    <div class="row mt-5 align-items-center">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <a class="btn btn-outline-success" href="{{ url_for('email') }}">Send</a>
         
    </div>
</div>
{% endblock %}