{% extends "base.html" %} 
{% block title%} 
	Post
{% endblock %} 


{% block content %}
<div class="m-lg-3">

	<h1>{{post.title}}</h1>
	<small>Written by {{post.author}} on {{post.create_date}}</small>
	<hr>
	<div class="mb-3">
		{{post.body | safe}}
	</div>
	<div >
		
		<form action="{{url_for('delete_post', id=post.id)}}" method="POST">
			<a class="btn btn-primary" href="{{ url_for('dash') }}" role="button">Back to Dashboard</a>
			{% if post.author == session.username %}
			<a href="/edit_post/{{post.id}}" class="btn btn-outline-primary pull-right">Edit</a>
			
			<input type="hidden" name="method" value="DELETE">
			<input type="submit" value="Delete" class="btn btn-danger">
		</form>
		
		{% else %}
	</div>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		Sorry! You Can't Edit This Post...
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	
	
	
	{% endif %}
	
</div>

{% endblock %}