{% extends "base.html" %} 
{% block title%} 
	User
{% endblock %} 


{% block content %}

 <h1>User</h1>
 <div class="row row-cols-1 row-cols-md-3 g-4">
  
  
   
   <div class="col">
     <div class="card">
      <img src="{{ url_for('static', filename='avatar.png') }}" class="rounded mx-auto d-block img-fluid">
       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         <p class="card-text">
          
            <div class="col">
              
               <p>Name: {{user.name}}</p>
               <p>Username: {{user.username}}</p>
               <p>ID: {{user.id}}</p>
               <p>Email: {{user.email}}</p>  
            </div>

            {% if session.username == user.username %}

            <a href="/edit_user/{{user.id}}" class="btn btn-outline-success pull-right">Edit</a>

            <form action="{{url_for('delete_user', id=user.id)}}" method="POST">
            <input type="hidden" name="method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
            </form>
         
            {% else %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
	  Sorry! You Can't Edit This User...
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<h2>Access Denied!</h2>
	<p>Sorry, you cannot access this user profile...</p>

  {% endif %}
         </p>
       </div>
     </div>
   </div>
   
 </div>


 

    {% endblock %}