{% extends "base.html" %} 
{% block title%} 
	Users
{% endblock %} 


{% block content %}

 <h1>Users</h1>
 <div class="row row-cols-1 row-cols-md-3 g-4">
  
   {% for user in users %}
   
   <div class="col">
     <div class="card">
      <img src="{{ url_for('static', filename='avatar.png') }}" class="rounded mx-auto d-block img-fluid">
       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         <p class="card-text">
            <div class="col">
               <p>Name: {{user.name}}</p>
               <p>Username: {{user.username}}</p>
               <p>ID: {{user.id}}</p>
               <p>Email: {{user.email}}</p>
               <a class="btn btn-success" href="user/{{user.id}}"> Show user</a>
               </form>
            </div>
         </p>
       </div>
     </div>
   </div>
   {% endfor %}
 </div>


 

    {% endblock %}